.modale {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all 0.3s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  background-color: rgba($whiteColor, 0.94);
  z-index: 100;
  display: flex;

  &--is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__inner {
    flex: 1;
    margin: auto;
  }

  &__description {
    text-align: center;
    font-size: $default-font-size;
    font-weight: 300;
    line-height: 1.75;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    color: $darkBlue;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    cursor: pointer;
  }
  .section-title {
    text-align: center;
  }
}
