.reveal-item {
  &:first-child {
    opacity: 1;
  }
  // opacity: 0;
  transition: all 0.5s ease-out;
  transform: translateY(-20px);
  backface-visibility: hidden;
  -webkit-filter: blur(2px);
  filter: blur(2px);

  &--is-visible {
    // opacity: 1;
    transform: translateY(0);
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
