.section-widget {
  background-color: $whiteColor;
  .widget {
    background-color: $whiteColor;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
    //-webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.034);
    //box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.034);

    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);

    font-size: $default-font-size;
    text-align: center;

    &__title {
      background-color: #1f1351;
      color: #fefd3c;
      display: block;
      font-size: 1.2rem;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-radius: 2px;
      margin-bottom: 1rem;
    }
  }
}
