// Theme Color Bricoworld Selargius
$whiteColor: #ffffff;
$lightYellow: #ffffda;
$lightBlue: #f4f2ff;
$yellowColor: #fefd3c;
$darkBlue: #1f1351;
$darkBlack: #212121;
$blackColor: #000000;
$blueColor: #2c169c;
$orangeColor: #ff7d00;
$blackLight: #5a5a5a;
$ligtYellow: #ffffda;
// FONT
$default-font-size: 1.4rem;

// toast {
//   -ms-flex-preferred-size: 350px;
//   flex-basis: 350px;
//   max-width: 350px;
//   font-size: 0.875rem;
//   background-color: rgba(255, 255, 255, 0.85);
//   background-clip: padding-box;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
//   box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
//   opacity: 0;
//   border-radius: 0.25rem;
// }
