.banner {
  margin-top: 69px;
  @include media-breakpoint-down(md) {
    margin-top: 50px;
  }
}
.bricoworld__infos {
  background-color: $lightYellow;
  padding: 4rem 0rem;
  min-height: 40rem;

  h1 {
    color: $darkBlue;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    @include media-breakpoint-down(xs) {
      font-size: 2.3rem;
    }
  }

  p {
    font-size: $default-font-size;
    color: $darkBlack;
    line-height: 1.8;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
  }
  &--logo {
    @include media-breakpoint-down(xs) {
      width: 60%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 1.9rem;
    }
  }

  img {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    @include media-breakpoint-up(sm) {
      margin-bottom: 2rem;
    }
  }
}
