.inner {
  background-color: $lightBlue;
  padding: 4rem 0;
  color: $darkBlue;

  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
  }
}

.card__link {
  text-decoration: none !important;
  color: inherit;

  &:hover,
  &:active {
    color: $darkBlue;
  }
}

.card__link:hover .card__brico {
  transform: translateY(-4px) scale(1.01);
}

.card__brico {
  background-color: $whiteColor;
  padding: 1.4rem;
  border-bottom: 1px solid #e2e2e2;
  //-webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.034);
  //box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.034);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.65rem;
  //border-radius: 0.65rem;
  display: flex;
  align-items: center;
  //width: 98%;
  margin: 0 auto;
  transition: all 0.3s ease-in;
  // @include media-breakpoint-up(sm) {
  //   flex-direction: row;
  //   margin-bottom: 2.5rem;
  // }

  @include media-breakpoint-down(sm) {
    flex-direction: row;
    margin-bottom: 3rem;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  &--icon {
    width: 65px;
    height: 65px;
    margin-right: 1.7rem;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
      margin-right: 0;
      width: 50px;
      height: 50px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
      width: 40px;
      height: 40px;
    }

    @include media-breakpoint-down(xs) {
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 0;
      width: 40px;
      height: 40px;
    }
  }

  &--content {
    h4 {
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: bold;
    }
    p {
      color: $blackLight;
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-down(xs) {
    flex-direction: row;
    //margin-left: 3rem;
    //margin-right: 4rem;
  }
}
